
@model List<MyProject.Models.ViewModels.OrderQuickSummaryViewModel>

@{
    ViewBag.Title = "Order Receipt";
}





<link href="/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/DataTables/css/dataTables.foundation.min.css" rel="stylesheet" type="text/css" />


<script src="/Scripts/jquery-2.2.0.js" type="text/javascript"></script>
<script src="/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.dataTables.min.js" type="text/javascript"></script>





<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#example').dataTable();
    });
</script>

<br />



<div class="row">
    <div class="large-12 columns">
        <h3>Danh sách đơn đặt hàng</h3>
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Mã số</th>
                <th>Tên</th>
                <th>Tổng tiền</th>
                <th>Tiền đã trả</th>
                <th>Ngày đặt</th>
                <th>Tình trạng</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var o in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@o.Code, "ViewOrder", "OrderManagment", new {id = o.Id}, new {@style = "color: #0000cd"})</td>
                    <td>@o.CustomerName</td>
                    <td>@o.OrderTotal</td>
                    <td>
                        @if (@o.PostedAmount == @o.OrderTotal)
                        {
                            <span style="color: green">@o.PostedAmount</span>
                        }
                        else if (@o.PostedAmount > @o.OrderTotal)
                        {
                            <span style="color: green"><b>@o.PostedAmount</b></span>
                        }
                        else
                        {
                            <span style="color: Red">@o.PostedAmount</span>
                        }
                    </td>
                    <td>@o.OrderDate</td>
                    <td>@o.OrderStatus</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>





