@using System.Collections
@using System.Web.Mvc.Html
@using MyProject.Helper
@using MyProject.Models.ViewModels
@model MyProject.Models.ViewModels.ProductManagementViewModel

@{
    ViewBag.Title = "Product Management";
    ViewBag.Status = "";
}

<div class="row">
    <div class="large-12 columns">
        <h3>Product Management</h3>
         @Html.LabelFor(x => x.CategoryList)
         @Html.DropDownListFor(x => x.SelectedCategory, Model.CategoryList, new { id = "categorySelection",   onchange = "document.location.href = '/ProductManagement/FilterByCategory?code=' + this.options[this.selectedIndex].value;" })

        <section id="ProfileForm">
            @using (Html.BeginForm("SearchProduct", "ProductManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div align="left">
                    <b>Find product</b>
                    @Html.KTextBoxFor(m => m.SearchProductId, new {style = "width:150px"})
                    <input id="searchBtn" type="submit" class="button" value="Search"/>
                </div>
                <span>@ViewBag.Status</span>

            }
        </section>
        <div class="row">
            @foreach (var product in Model.Products)
            {

                var base64 = Convert.ToBase64String(@product.Image);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <div class="large-3 small-6 columns">
                    <img src="@imgSrc"/>
                    <div><span><b>Item #</b>@product.Code</span></div>
                    @*                    <a>@product.Description</a>*@
                    <a>@Html.ActionLink(@product.Description, "EditProduct", "ProductManagement", new { id = product.Id }, "")</a>
                    @*                    <p>$@product.Price</p>
                    <p class="button">
                        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new {id = product.Id}, new {@style = "color: #FFFFFF"})
                    </p>*@
                </div>
            }
        </div>
    </div>
</div>

