@using MyProject.Helper
@model MyProject.Models.ViewModels.OrderSummaryViewModel

@{
    ViewBag.Title = "Order Summary";
    ViewBag.CartTotal = "Tổng số tiền";
    ViewBag.TotalShippingCost = "Cước vận chuyển";
}

<div class="row">
    <div class="large-12 columns">

        <section id="ProfileForm">
            @using (Html.BeginForm("Index", "OrderSummary", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @*if (Model.FirstTime)
                {
                <fieldset>
                    <h4>Thank you !</h4>
                    <div class="content">
                        <h4><span>@Html.Raw(HttpUtility.HtmlDecode(Model.PaymentInfo))</span></h4>
                    </div>


                </fieldset>
                }*@
                <div align="center">
                    <h3>@Model.GetResource("OrderSummary.Header.Text")</h3>
                </div>
                <fieldset>
                    <legend>
                        <h4>@Model.GetResource("OrderSummary.CustomerInfoHeaderLabel.Text")</h4>
                    </legend>

                    <div>
                        <div>
                            <span><b>@Model.GetResource("OrderSummary.OrderNumberLabel.Text"): </b>&nbsp;&nbsp;&nbsp;&nbsp;@Model.OrderNumber</span>
                        </div>
                        <div>
                            <span><b>@Model.GetResource("OrderSummary.CustomerInfoNameLabel.Text"): </b>&nbsp;&nbsp;@Model.FullName</span>
                        </div>
                        <div>
                            <span><b>@Model.GetResource("OrderSummary.CustomerInfoEmailAddressLabel.Text"): </b>&nbsp;&nbsp;@Model.Email</span>
                        </div>
                        <div>
                            <span><b>@Model.GetResource("OrderSummary.CustomerInfoContactPhoneLabel.Text"): </b>&nbsp;@Model.Phone</span>
                        </div>
                        <div>
                            <span><b>@Model.GetResource("OrderSummary.CustomerInfoAddressLabel.Text"): </b></span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.ShippingAddress.Line1</span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.ShippingAddress.Line2</span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.ShippingAddress.Line3</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h4>@Model.GetResource("OrderSummary.ShoppingCartHeaderLabel.Text")</h4>
                    </legend>

                    <table>
                        <tr>
                            <th class="hide-for-small-only">@Model.GetResource("OrderSummary.ShoppingCartThumbnailLabel.Text")</th>
                            <th>@Model.GetResource("OrderSummary.ShoppingCartProductDescriptionLabel.Text")</th>
                            <th class="hide-for-small-only">@Model.GetResource("OrderSummary.ShoppingCartUnitPriceLabel.Text")</th>
                            <th>@Model.GetResource("OrderSummary.ShoppingCartQuantityLabel.Text")</th>
                            @*                <th>Tổng
                        </th>
                        <th>Khuyến mãi
                        </th>*@
                            <th class="hide-for-small-only">@Model.GetResource("OrderSummary.ShoppingCartShippingCostLabel.Text")</th>
                            <th>@Model.GetResource("OrderSummary.ShoppingCartLineTotalLabel.Text")</th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr id="row-@item.Product.Id">
                                <td class="hide-for-small-only">
                                    @{
                                        if (@item.Product.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(@item.Product.Image);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                            <img src="@imgSrc" height="40" width="40"/>
                                        }
                                        else
                                        {
                                            //default image
                                            <img src="~/Content/Images/ProductDefault.png" height="40" width="40"/>
                                        }
                                    }
                                </td>
                                <td>
                                    @item.Product.Description
                                </td>
                                <td class="hide-for-small-only">
                                    @item.UnitPrice.ToString("0.00")

                                </td>
                                <td id="item-count-@item.Product.Id">
                                    @item.Quantity
                                </td>
                                @*                                <td id="item-net-@item.Product.Id">
                                    @String.Format("{0:N}",@item.Net)
                        
                                </td>
                                <td id="item-discount-@item.Product.Id">
                                    @String.Format("{0:N}",@item.TotalDiscount)
                        
                                </td>*@
                                <td class="hide-for-small-only" style="text-align: right">
                                    @item.ShippingCost.ToString("0.00")
                        
                                </td>
                                <td style="text-align: right">
                                    @{
                                        var subtotal = @item.ShippingCost + @item.Total;
                                    }
                                    @subtotal.ToString("0.00")

                                </td>
                            </tr>
                        }

@*                        <tr>
                            <td></td>
                            <td></td>
                            <td class="hide-for-small-only"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>@ViewBag.TotalShippingCost</b></td>
                            <td id="cart-total">
                                <b>@String.Format("{0:N0}", @Model.ShippingCost)</b>
                            </td>
                        </tr>*@

                          <tr>
                            <td></td>
                            <td class="hide-for-small-only"></td>
                            <td class="hide-for-small-only"></td>
                            <td class="hide-for-small-only"></td>
                            <td><b>@Model.GetResource("OrderSummary.ShoppingCartNetTotalLabel.Text")</b></td>
                            <td id="cart-total" style="text-align: right">
                               @Model.Total.ToString("0.00")
                            </td>
                        </tr>
                    </table>
                </fieldset>

                @*<fieldset>
                    <h4>Thanh toán</h4>
                    <table>
                        <tr>
                            <th>Cách thanh toán
                            </th>
                            <th>Tổng
                            </th>
                            <th>Tình trạng
                            </th>
                        </tr>
                        <tr>
                            <td>@Model.PaymentTransaction.PaymentType.Description
                            </td>
                            <td>@String.Format("{0:N0}", @Model.PaymentTransaction.Amount)
                            </td>
                            <td>@Model.PaymentTransaction.PaymentStatus.Description
                            </td>
                        </tr>
                    </table>
                    <div class="amount-due">
                        @{
                        var amountDue = Model.Total - Model.PaymentTransaction.Amount;
                            <b>Còn lại: <span>@amountDue.ToString("N0") đ</span></b>
                        }

                    </div>

                </fieldset>*@
                
            }
        </section>
    </div>
</div>



