@using MyProject.Helper
@model MyProject.Models.ViewModels.OrderSummaryViewModel

@{
    ViewBag.Title = "Order Summary";
}

<div class="row">
    <div class="large-12 columns">
        
        <section id="ProfileForm">
            @using (Html.BeginForm("Index", "OrderSummary", FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                <div align="left">
                    <b>Find order</b>
                    @Html.KTextBoxFor(m => m.OrderNumber, new {style = "width:150px"})
                    <input id="searchBtn" type="submit" class="button" value="Search"/>
                </div>
                <div align="center"><h3>Order Summary</h3></div>
                <fieldset>
                    <legend>
                        <h4>Shipping</h4>
                    </legend>

                    <div>
                        <div>
                            <span><b>Order Number: </b>&nbsp;&nbsp;&nbsp;&nbsp;@Model.OrderNumber</span>
                        </div>
                        <div>
                            <span><b>Customer Name: </b>&nbsp;&nbsp;@Model.FullName</span>
                        </div>
                        <div>
                            <span><b>Customer Email: </b>&nbsp;&nbsp;@Model.Email</span>
                        </div>
                        <div>
                            <span><b>Customer Phone: </b>&nbsp;@Model.Email</span>
                        </div>
                        <div>
                            <span><b>Shipping Address: </b></span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.ShippingAddress.Line1</span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.ShippingAddress.Line2</span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.ShippingAddress.Line3</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h4>Products</h4>
                    </legend>

                    <table>
                        <tr>
                            <th>Product
                            </th>
                            <th>Description
                            </th>
                            <th>Price
                            </th>
                            <th>Quantity
                            </th>
                            <th>Net
                            </th>
                            <th>Discount
                            </th>
                            <th>Shipping
                            </th>
                            <th>Total
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr id="row-@item.Product.Id">
                                <td>
                                    @{
                                        if (@item.Product.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(@item.Product.Image);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                            <img src="@imgSrc" height="40" width="40"/>
                                        }
                                        else
                                        {
                                            //default image
                                            <img src="~/Content/Images/ProductDefault.png" height="40" width="40"/>
                                        }
                                    }
                                </td>
                                <td>
                                    @item.Product.Description
                                </td>
                                <td>
                                    @String.Format("{0:N}",@item.Product.Price)
                                    
                                </td>
                                <td id="item-count-@item.Product.Id">
                                    @item.Quantity
                                </td>
                                <td id="item-net-@item.Product.Id">
                                    @String.Format("{0:N}",@item.Net)
                        
                                </td>
                                <td id="item-discount-@item.Product.Id">
                                    @String.Format("{0:N}",@item.TotalDiscount)
                        
                                </td>
                                <td id="item-shippingcost-@item.Product.Id">
                                    @String.Format("{0:N}",@item.ShippingCost)
                        
                                </td>
                                <td id="item-sum-@item.Product.Id">
                                    @String.Format("{0:N}",@item.Total)
                        
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Total</b></td>
                            <td id="cart-total">
                                <b>@String.Format("{0:N}",@Model.Total)</b>
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset>
                    <h4>Payment</h4>
                    <table>
                        <tr>
                            <th>Payment type
                            </th>
                            <th>Amount
                            </th>
                        </tr>
                        <tr>
                            <td>@Model.PaymentTransaction.PaymentType.Description
                            </td>
                            <td>@String.Format("{0:N}",@Model.PaymentTransaction.Amount)
                            </td>
                        </tr>
                    </table>
                </fieldset>
            }
        </section>
    </div>
</div>



