@model MyProject.Models.ViewModels.AppSettingViewModel

@{
    ViewBag.Title = "Edit AppSetting";
}

<body>
<section id="ProductForm">
    @using (Html.BeginForm("EditAppSetting", "AppSetting", FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="row">
            <hr>

            <div class="large-5 columns">
                 @Html.ActionLink("<<< Back", "Index", "AppSetting", new {id = -1}, new {@style = "color: #32cd32"})

                <div class="form-group">
                    @Html.LabelFor(m => m.Code, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Code)
                        @Html.DisplayTextFor(m => m.Code)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Description)
                        @Html.ValidationMessageFor(m => m.Description, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Value, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Value)
                        @Html.ValidationMessageFor(m => m.Value, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ValueType, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ValueType)
                        @Html.ValidationMessageFor(m => m.ValueType, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div>
                    <input type="submit" class="medium success button" value="Save"/>
                </div>
            </div>

        </div>
    }
</section>
</body>


