@using System.Data.Entity.Core.Metadata.Edm
@using MyProject.Helper;

@model MyProject.Models.ViewModels.CheckoutViewModel

@{
    ViewBag.Title = "Index";
}


<script src="/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //if amount value is changed update the Amount due
    $(function () {
        $('#amountTextBox').on('input', function () {
            var dueAmount = @Model.CartTotal - parseFloat($('#amountTextBox').val()).toFixed(2); 
            if (isNaN(dueAmount)) {
                dueAmount = 0;
            }
           $('.amount-due span').html(dueAmount.toFixed(2));
       });
    });
</script>

<div class="row">
    <div class="large-12 columns">
        <h3>Thông tin khách hàng</h3>
        <section id="ProfileForm">
            @using (Html.BeginForm("Index", "Checkout", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>
                    <legend>
                        <h4>Thông tin khách hàng</h4>
                    </legend>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new Dictionary<string, Object> {{"class", "col-md-2 control-label"}})
                        <div class="col-md-10">
                            @Html.KTextBoxFor(m => m.Name, new {@class = "fill", id = "name"})
                            @*@Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new Dictionary<string, Object> {{"class", "col-md-2 control-label"}})
                        <div class="col-md-10">
                            @Html.KTextBoxFor(m => m.Email, new {@class = "fill"})
                            @*@Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new Dictionary<string, Object> {{"class", "col-md-2 control-label"}})
                        <div class="col-md-10">
                            @Html.KTextBoxFor(m => m.Phone, new {@class = "fill"})
                            @*                            @Html.ValidationMessageFor(m => m.Phone, "", new {@class = "text-danger"})*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ShippingAddress.Line1, new Dictionary<string, Object> {{"class", "col-md-2 control-label"}})
                        <div class="col-md-10">
                            @Html.KTextBoxFor(m => m.ShippingAddress.Line1, new {@class = "fill"})
                            @*                            @Html.ValidationMessageFor(m => m.ShippingAddress.Line1, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @*                        @Html.LabelFor(m => m.ShippingAddress.Line2, new Dictionary<string, Object> { { "class", "col-md-2 control-label" } })*@
                        <div class="col-md-10">
                            @Html.KTextBoxFor(m => m.ShippingAddress.Line2, new {@class = "fill"})
                            @Html.ValidationMessageFor(m => m.ShippingAddress.Line2, "", new {@class = "text-danger"})
                        </div>

                    </div>

                    <div class="form-group">
                        @*                        @Html.LabelFor(m => m.ShippingAddress.Line3, new Dictionary<string, Object> { { "class", "col-md-2 control-label" } })*@
                        <div class="col-md-10">
                            @Html.KTextBoxFor(m => m.ShippingAddress.Line3, new {@class = "fill"})
                            @Html.ValidationMessageFor(m => m.ShippingAddress.Line3, "", new {@class = "text-danger"})
                        </div>

                    </div>
                </fieldset>
                
@* 
                <fieldset>
                    <legend>
                        <h4>Thanh toán</h4>
                    </legend>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PaymentTransaction.PaymentType, new Dictionary<string, Object> {{"class", "col-md-2 control-label"}})
                       <select name="paymentType" onchange=" java_script_:show(this.options[this.selectedIndex].value) ">
                            <option value="Cash">Cash</option>
                            <option value="PayPal">PayPal</option>
                        </select>
                        @Html.DropDownList("paymentType", Model.PaymentTypesList, new { onchange = ""})
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.PaymentTransaction.Amount, new Dictionary<string, Object> {{"class", "col-md-2 control-label"}})
                        <b>Tổng số tiền: @Model.CartTotal.ToString("N0") đ</b>
                        <div class="col-md-10">
                            @Html.KTextBoxFor(m => m.PaymentTransaction.Amount, new { id = "amountTextBox", Value= Model.PaymentAmount, @class = "fill" , disabled="disabled", @style = "display:none;"})
                            @Html.ValidationMessageFor(m => m.PaymentTransaction.Amount, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="amount-due">
                        <b>Còn lại: <span>0.00</span></b>
                    </div>
                </fieldset>
              *@
        <p class="button success">
            @Html.ActionLink("Quay lại giỏ hàng","Index", "ShoppingCart", new {}, new {@style="color: #FFFFFF"})
        </p>

                    <input type="submit" class="button success" value="Tiếp tục" />
                    //@Html.ActionLink("Next", "Index", "OrderConfirm", new {}, new {@style = "color: #FFFFFF"})
            }
        </section>
    </div>
</div>

