﻿<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8"/>

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@ViewBag.Title - J.A shop</title>
    <link href="~/Content/Images/favicon.JPG" rel="shortcut icon" type="image/x-icon"/>

    @Styles.Render("~/Content/foundation/css")

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript" src="/Scripts/ckeditor/ckeditor.js"></script>

    <meta property="og:image" content="http://jashopvn.com/Content/Images/banner.jpg"/>
</head>

<body>
<img alt="slide" src="/Content/Images/banner.jpg" height="150" width="1500"/>
<p></p>
@*    <h1>J.A shop <span style="color: darkorange">&#9996;</span></h1>*@

<nav class="top-bar" data-topbar role="navigation">

    <ul class="title-area">

        <li class="name">
            <h1></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

    </ul>


    <section class="top-bar-section">
        <ul class="top-bar-items right">
            <li>@Html.ActionLink("Giỏ hàng", "Index", "ShoppingCart")</li>
        </ul>

        @Html.Partial("_LoginPartial")
        @Html.Partial("_Admin")
    </section>
</nav>
@RenderBody()


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/foundation")
<script>
    $(document).foundation();
</script>
@*Use the Scripts section to define page specific scripts*@
@RenderSection("scripts", required: false)


@*<footer style="position: fixed; bottom: 0; left: 0">
    <div class="panel">
        <a href="https://facebook.com/jashopvn.2016" class="webicon facebook">Like us on Facebook</a>
    </div>
</footer>*@

</body>

</html>

    
