@using Microsoft.AspNet.Identity

@*<ul class="top-bar-items left">
    <li>@Html.ActionLink("Cách mua hàng", "PurchaseInstruction", "Home", routeValues: null, htmlAttributes: new {id = "purchaseInstruction", style = "font-weight:bold;color:#32cd32;font-size: 15px"})</li>
</ul>*@

@if (Request.IsAuthenticated)
{
    @Html.Partial("_Authenticated")
}
else
{
   

    <ul class="top-bar-items right">
        <li>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink" })</li>
@*        <li>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>*@
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
