@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="top-bar-items left">
        <li>@Html.ActionLink("Cách mua hàng", "PurchaseInstruction", "Home", routeValues: null, htmlAttributes: new {id = "homeLink" , style="font-weight:bold;color:#32cd32;font-size: 15px"})</li>
    </ul>
    
    @Html.Partial("_Authenticated")
}
else
{
    <ul class="top-bar-items left">
        <li>@Html.ActionLink("Cách mua hàng", "PurchaseInstruction", "Home", routeValues: null, htmlAttributes: new { id = "homeLink" , style="font-weight:bold;color:#32cd32;font-size: 15px" })</li>
    </ul>

    <ul class="top-bar-items right">
        <li>@Html.ActionLink("Trang chủ", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink" })</li>
@*        <li>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>*@
        <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
