@model MyProject.Models.ViewModels.OrderConfirmViewModel

@{
    ViewBag.Title = "Confirm Order";
}

<script src="/Scripts/jquery-1.10.2.min.js"
    type="text/javascript"></script>
<script type="text/javascript">

    $(function() {
        // backbutton go back to payment detail
        $('#backBtn').click(function() {
            history.go(-1);
        });
    });
</script>
<div class="row">
    <div class="large-12 columns">
        <h3>Confirm your order</h3>
        <section id="ProfileForm">
            @using (Html.BeginForm("Index", "OrderConfirm", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>
                    <legend>
                        <h4>Shipping</h4>
                    </legend>

                    <div>

                        <div>
                            <span><b>Customer Name: </b>&nbsp;&nbsp;@Model.CheckOutInfo.Name</span>
                        </div>
                        <div>
                            <span><b>Customer Email: </b>&nbsp;&nbsp;@Model.CheckOutInfo.Email</span>
                        </div>
                        <div>
                            <span><b>Customer Phone: </b>&nbsp;@Model.CheckOutInfo.Email</span>
                        </div>
                        <div>
                            <span><b>Shipping Address: </b></span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.CheckOutInfo.ShippingAddress.Line1</span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.CheckOutInfo.ShippingAddress.Line2</span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.CheckOutInfo.ShippingAddress.Line3</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h4>Products</h4>
                    </legend>

                    <table>
                        <tr>
                            <th>Product
                            </th>
                            <th>Description
                            </th>
                            <th>Price (each)
                            </th>
                            <th>Quantity
                            </th>
                        </tr>
                        @foreach (var item in Model.CartViewModel.CartItems)
                        {
                            <tr id="row-@item.Id">
                                <td>
                                    @{
                                        if (@item.Product.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(@item.Product.Image);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                            <img src="@imgSrc" height="40" width="40"/>
                                        }
                                        else
                                        {
                                            //default image
                                            <img src="~/Content/Images/ProductDefault.png" height="40" width="40"/>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(item.Product.Description, "Details", "Store", new {id = item.ProductId}, null)
                                </td>
                                <td>
                                    @item.Product.Price
                                </td>
                                <td id="item-count-@item.Id">
                                    @item.Count
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td><b>Total</b></td>
                            <td id="cart-total">
                                <b>@Model.CartViewModel.CartTotal</b>
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset>
                    <h4>Payment</h4>
                    <table>
                        <tr>
                            <th>Payment type
                            </th>
                            <th>Amount
                            </th>
                        </tr>
                        <tr>
                            <td>@Model.CheckOutInfo.PaymentTransaction.PaymentTypeDescription
                            </td>
                            <td>@Model.CheckOutInfo.PaymentTransaction.Amount
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <input id="backBtn" class="button success" value="Back"/>
                <input id="submitBtn" type = "submit" class="button success" value="Submit Order" />
            }
        </section>
    </div>
</div>


