@model MyProject.Models.ViewModels.OrderConfirmViewModel

@{
    ViewBag.Title = "Confirm Order";
    ViewBag.TotalShippingCost = "Shipping fee";
    ViewBag.CartTotal = "Cart Total";
}

<script src="/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>

<script type="text/javascript">

    $(function () {
        // backbutton go back to payment detail
        $('#backBtn').click(function () {
            history.go(-1);
        });
    });
</script>
<div class="row">
    <div class="large-12 columns">
        <h3>Order Summary </h3>
        <section id="ProfileForm">
            @using (Html.BeginForm("Index", "OrderConfirm", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>
                    <legend>
                        <h4>Customer Information</h4>
                    </legend>

                    <div>

                        <div>
                            <span><b>Name: </b>&nbsp;&nbsp;@Model.CheckOutInfo.Name</span>
                        </div>
                        <div>
                            <span><b>Email-address: </b>&nbsp;&nbsp;@Model.CheckOutInfo.Email</span>
                        </div>
                        <div>
                            <span><b>Phone: </b>&nbsp;@Model.CheckOutInfo.Phone</span>
                        </div>
                        <div>
                            <span><b>Physical Address: </b></span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.CheckOutInfo.ShippingAddress.Line1</span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.CheckOutInfo.ShippingAddress.Line2</span>
                        </div>
                        <div>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.CheckOutInfo.ShippingAddress.Line3</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h4>Shopping cart</h4>
                    </legend>

                    <table>
                        <tr>
                            <th class="hide-for-small-only">View
                            </th>
                            <th>Product Name
                            </th>
                            <th class="hide-for-small-only">Price
                            </th>
                            <th>Quantity
                            </th>
                            @*                <th>Tổng
                        </th>
                        <th>Khuyến mãi
                        </th>*@
                            <th class="hide-for-small-only">Shipping
                            </th>
                            <th>Total
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.CartViewModel.CartItems)
                        {
                            <tr id="row-@item.Id">
                                <td class="hide-for-small-only">
                                    @{
                            if (@item.Product.Image != null)
                            {
                                var base64 = Convert.ToBase64String(@item.Product.Image);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        <img src="@imgSrc" height="40" width="40"/>
                            }
                            else
                            {
                                //default image
                                        <img src="~/Content/Images/ProductDefault.png" height="40" width="40" />
                            }
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(item.Product.Description, "Details", "Store", new { id = item.ProductId }, null)
                                </td>
                                <td class="hide-for-small-only">
                                    @String.Format("{0:N}",@item.OriginalPrice)
                                    
                                </td>
                                <td id="item-count-@item.Id">
                                    @item.Quantity
                                </td>
                                @*                              <td id="item-net-@item.Id">
                                    @String.Format("{0:N}",@item.NetBeforeDiscount)
                                    
                                </td>
                                <td id="item-discount-@item.Id">
                                    @String.Format("{0:N}",@item.TotalDiscountAmount)
                                    
                                </td>*@
                                <td id="item-shippingcost-@item.Id" class="hide-for-small-only" style="text-align: right">
                                    @item.ShippingCost.ToString("N0")
                        
                                </td>
                                <td id="item-sum-@item.Id" style="text-align: right">
                                    @{
                                        var subtotal = @item.ShippingCost + @item.Sum;
                                    }
                                    @subtotal.ToString("N0")

                                </td>
                            </tr>
                        }
                        @*                       <tr>
                            <td></td>
                            <td></td>
                            <td class="hide-for-small-only"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>@ViewBag.TotalShippingCost</b></td>
                            <td id="cart-total">      
                                <b>@String.Format("{0:N0}",@Model.CartViewModel.CartTotalShippingCost)</b>
                            </td>
                        </tr>*@

                      <tr>
                        <td></td>
                        <td class="hide-for-small-only"></td>
                        <td class="hide-for-small-only"></td>
                        <td class="hide-for-small-only"></td>
                        <td><b>Cart Total:</b></td>
                        <td id="cart-total" style="text-align: right">
                           @Model.CartViewModel.CartTotal.ToString("N0")
                        </td>
                    </tr>
                    </table>
                </fieldset>@*

                <fieldset>
                    <h4>Thanh toán</h4>
                    <table>
                        <tr>
                            <th>Cách thanh toán
                            </th>
                            <th>Tổng
                            </th>
                        </tr>
                        <tr>
                            <td>@Model.CheckOutInfo.PaymentTransaction.PaymentTypeDescription
                            </td>
                            <td>@Model.CheckOutInfo.PaymentTransaction.Amount.ToString("N0")
                            </td>
                        </tr>
                    </table>
                </fieldset>*@

                <input id="backBtn" class="button success" value="Back" />
                <input id="submitBtn" type="submit" class="button success" value="Order now!" />
            }
        </section>
    </div>
</div>


