@model MyProject.Models.ViewModels.CategoryManagementViewModel

@{
    ViewBag.Title = "Category Managment";
}

<link href="/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/DataTables/css/dataTables.foundation.min.css" rel="stylesheet" type="text/css" />


<script src="/Scripts/jquery-2.2.0.js" type="text/javascript"></script>
<script src="/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.dataTables.min.js" type="text/javascript"></script>





<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#categories').dataTable();
    });
</script>

<div class="row">
    <div class="large-12 columns">
        <h3>@ViewBag.Title</h3>

        <table id="categories" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Category #</th>
                <th>Description</th>
                <th># of products in this category</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var category in Model.CategoryViewModels)
            {
                <tr>
                    <td>@Html.ActionLink(@category.Code, "EditCategory", "CategoryManagment", new {id = category.Id}, "")</td>
                    <td>@category.Description</td>
                    <td>@category.ProductsCount</td>
                    <td>@category.Active</td>
                </tr>
            }
            </tbody>
        </table>

        <p class="button">
             @Html.ActionLink("Add Category", "EditCategory", "CategoryManagment", new {id = -1}, new {@style = "color: #FFFFFF"})
        </p>

    </div>
</div>

