@model MyProject.Models.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
<script src="/Scripts/jquery-1.10.2.min.js"
    type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                            $('#checkoutBtn').click(function() {
                                return false;
                            });
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            $('#item-net-' + data.DeleteId).text(data.NetBeforeDiscount);
                            $('#item-sum-' + data.DeleteId).text(data.Sum);
                            $('#item-discount-' + data.DeleteId).text(data.TotalDiscount);
                            $('#item-shippingcost-' + data.DeleteId).text(data.ShippingCost);      
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
        $(".AddLink").click(function () {
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                // Perform the ajax post 
                $.post("/ShoppingCart/AddOneItemToCart", { "id": recordToAdd },
                    function (data) {
                        // Successful requests get here
                        $('#item-count-' + data.AddId).text(data.ItemCount);
                        $('#item-net-' + data.AddId).text(data.NetBeforeDiscount);
                        $('#item-sum-' + data.AddId).text(data.Sum);
                        $('#item-discount-' + data.AddId).text(data.TotalDiscount);
                        $('#item-shippingcost-' + data.AddId).text(data.ShippingCost);
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });

    });
</script>
<div class="row">
    <div class="large-12 columns">
        <h3>Review Your cart</h3>

        <div id="update-message" style="color:deeppink">
        </div>
        <table>
            <tr>
                <th>Product
                </th>
                <th>Description
                </th>
                <th>Price
                </th>
                <th>Quantity
                </th>
                <th>Net
                </th>
                <th>Discount
                </th>
                <th>Shipping
                </th>
                <th>Total
                </th>
                <th></th>
            </tr>
            @foreach (var item in
                Model.CartItems)
            {
                <tr id="row-@item.Id">
                    <td>
                        @{
                if (@item.Product.Image != null)
                {
                    var base64 = Convert.ToBase64String(@item.Product.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img src="@imgSrc" height="40" width="40"/>
                }
                else
                {
                    //default image
                    <img src="~/Content/Images/ProductDefault.png" height="40" width="40"/>
                }
                        }
                    </td>
                    <td>
                        @Html.ActionLink(item.Product.Description, "Details", "Store", new { id = item.ProductId }, null)
                    </td>
                    <td>
                        @String.Format("{0:N}",@item.OriginalPrice)
                    </td>
                    <td id="item-count-@item.Id">
                        @item.Quantity
                    </td>
                    <td id="item-net-@item.Id">
                        @String.Format("{0:N}",@item.NetBeforeDiscount)
                        
                    </td>
                    <td id="item-discount-@item.Id">
                        @String.Format("{0:N}",@item.TotalDiscountAmount)
                        
                    </td>
                    <td id="item-shippingcost-@item.Id">
                        @String.Format("{0:N}",@item.ShippingCost)
                        
                    </td>
                    <td id="item-sum-@item.Id">
                        @String.Format("{0:N}",@item.Sum)
                        
                    </td>
                    <td>
                        <a href="#" class="AddLink" data-id="@item.Id">Add</a>

                    </td>
                    <td>
                        <a href="#" class="RemoveLink" data-id="@item.Id">Remove</a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total</b></td>
                <td id="cart-total">
                    <b>@String.Format("{0:N}", @Model.CartTotal)</b>
                </td>
            </tr>
        </table>

        <p class="button success">
            @Html.ActionLink("Back", "Index", "Home", new { cartItem = Model.CartItems }, new { @style = "color: #FFFFFF" })
        </p>


        <p class="button success" id="checkoutBtn">
            @if (Model.CartItems.Count > 0)
            {
                @Html.ActionLink("Checkout", "Index", "Checkout", new { cartCode = Model.CartItems.FirstOrDefault().Code, cartTotal = Model.CartTotal }, new { @style = "color: #FFFFFF" })
            }
            else
            {
                @Html.ActionLink("Checkout", "Index", "Checkout", new { cartCode = "", cartTotal = Model.CartTotal }, new { onclick = "javascript:return false;", @style = "color: #FFFFFF" })
            }
        </p>




    </div>

</div>
