@model MyProject.Models.ViewModels.ProductViewModel

@{
    ViewBag.Title = "ProductDetails";
}


<body>

    <div class="row">
        <hr>
        <div class="large-5 columns">
                @if (@Model.Image != null)
                {
                    var base64 = Convert.ToBase64String(@Model.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img src="@imgSrc" height="400" width="400"/>
                }
                else
                {
                    //default image
                    <img src="~/Content/Images/ProductDefault.png" height="40" width="40"/>
                }
        </div>
        <div class="large-5 columns">
            <h4>@Model.Description</h4>
            <p> @Model.DetailDescription</p>
            <div class="panel">
                <h5><b><em>Giá tiền: </em> @Model.Price.ToString("N0") đ</b></h5>
                <h6 class="subheader">Cước vận chuyển:   @Model.ShippingCost.ToString("N0") đ </h6>
                 <p class="button">
                    @Html.ActionLink("Thêm vào giỏ hàng", "ContinueToCart", "Store", new {id = @Model.Id}, new {@style="color: #FFFFFF"})
                </p>
            </div>
        </div>
    </div>
</body>
